
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: url('bolt.png'),auto;
}

body {
    background: #e5cdff;
    cursor: url('bolt.png'),auto;
}

h1 {
    background: #cfa2ff00;
    font-size: 20px;
    text-align: center;
    padding: 18px 0;
    color: #fff;
    z-index: 0;
    top: 2%;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
}

.weather-input {
    width: 550px;
}

.weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #5372F0;
}

.weather-input .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #BBBBBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-input .separator::before {
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #e3f2fd00;
}

.weather-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #0efd36;
    transition: 0.2s ease;
}

.weather-input .search-btn:hover {
    background: #eeff00;
    cursor: url('bolt.png'),auto;
}

.weather-input .location-btn {
    background: #0efd36;
}

.weather-input .location-btn:hover {
    background: #eeff00;
    cursor: url('bolt.png'),auto;
}

.weather-data {
    width: 100%;
}

.weather-data .current-weather {
    color: #fff;
    background: #cfa2ff;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
}

.weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.current-weather .icon {
    text-align: center;
}

.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}

.current-weather .icon h6 {
    margin-top: -10px;
    text-transform: capitalize;
}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #fea9fb;
    border-radius: 5px;
}

.weather-cards .card h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width: 1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }

    .weather-cards {
        flex-wrap: wrap;
    }

    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}

@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}

@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }

    .weather-cards .card {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 1.45rem;
        padding: 16px 0;
    }

    .container {
        flex-wrap: wrap;
        padding: 15px;
    }

    .weather-input {
        width: 100%;
    }

    .weather-data h2 {
        font-size: 1.35rem;
    }
  }
  .footer {
  top:100%;
  height:50px;
  width:100%;
  text-align: center;
  padding: 1rem;
  background-color: #f0eeed;
  color: #000000;
  font-size: 0.9rem;
  margin-top:auto;
  z-index: 100;
  position: relative;
}
.navbar {
  z-index: 1000;
  box-shadow: #000000;
  background-color: #8e89f900;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: right;
  
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  display: inline;
}

.navbar a {
  -webkit-text-stroke: 0.5px #ff9df8;
  text-decoration:none ;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", serif;
  font-size: 1.3rem;
  transition: color 0.3s;
  
}

.navbar a:hover {
  color: #ff83de;
  cursor: url('bolt.png'),auto;
  ;
}
.abt {
    height: 450px;
}
.abt h2 {
 
 text-align: left;
 color: #ffffff;
 
}
.abt p{
    text-align: left;
    color: #ffffff;
}
.abt a{
    color: #0a0030;
}